<!DOCTYPE html>
<html>
<head>
    <title>SV Meta Analyzer</title>
</head>
<body>
    <h1>SV Meta Analyzer (실시간 덱 분석)</h1>

    <div class="controls">
        <div class="control-group">
            <label for="post_select_elm">포스트 선택:</label>
            <select id="post_select_elm">
                {% for post in posts %}
                <option value="{{ post.url }}" {% if post.url == selected_post_url %}selected{% endif %}>{{ post.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="control-group">
            <label for="deckname_select_elm">덱 선택:</label>
            <select id="deckname_select_elm">
                {% for deck_name in deck_names %}
                <option value="{{ deck_name }}" {% if deck_name == selected_deck %}selected{% endif %}>{{ deck_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="control-group">
            <button id="copy-deck-button">덱 구성 복사</button>
            <span id="copy-feedback">복사 완료!</span>
        </div>
        <div class="control-group">
            <span id="deck-total"></span>
        </div>
    </div>

    <table id="card_analysis_table">
        <thead>
            <tr>
                <th class="sortable" data-sort="name">카드 이름</th>
                <th class="sortable" data-sort="average">평균 채용률</th>
                <th class="sortable" data-sort="original_adjusted_count">최초 추천</th>
                <th class="sortable" data-sort="adjusted_count">커스텀 채용 수</th>
                <th class="sortable" data-sort="removability_score">제거 우선도</th>
                <th class="sortable" data-sort="addability_score">추가 우선도</th>
            </tr>
        </thead>
        <tbody>
            <!-- JS에 의해 동적으로 채워짐 -->
        </tbody>
    </table>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>